<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
</head>
<body>
    <form action="/user/register" method="POST" enctype="multipart/form-data">

        <label for="name">Nombre</label>
        <input type="text" name="name"
        value="<% locals.oldData ? oldData.name : null %>"
        >
        
        <% if (locals.errors && errors.name) { %>
        <div class="errors">
            <%= errors.name.msg %>
        </div>
        <% } %>
        <br>
        
        <label for="userName">Nombre de Usuario</label>
        <input type="text" name="userName"
        value="<% locals.oldData ? oldData.userName : null %>"
        >
        <% if (locals.errors && errors.userName) { %>
            <div class="errors">
                <%= errors.userName.msg %>
            </div>
        <% } %>
        <br>

        <label for="email">Email</label>
        <input type="email" name="email"
        value="<% locals.oldData ? oldData.email : null %>"
        >
        <% if (locals.errors && errors.email) { %>
            <div class="errors">
                <%= errors.email.msg %>
            </div>
        <% } %>
        <br>

        <label for="password">Contraseña</label>
        <input type="password" name="password">
        <% if (locals.errors && errors.password) { %>
            <div class="errors">
                <%= errors.password.msg %>
            </div>
        <% } %>
        <br>

        <label for="image">Foto</label>
        <input type="file" name="image">
        <% if (locals.errors && errors.image) { %>
            <div class="errors">
                <%= errors.image.msg %>
            </div>
        <% } %>

        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>

    </form>
    
</body>
</html>